<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XYZ Hospital</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>


  <main class="container mt-4">
    <section class="category all_room">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">All Rooms</h2>
          <p class="card-text">Find information about all patients rooms.</p>
          <form method="get" action="/all_rooms">
            <button class="btn btn-primary">Search rooms</button>
          </form>
        </div>
      </div>
    </section>

    <section class="category admit_room mt-4">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Admit into Room</h2>
          <p class="card-text">Admit Patients to Room</p>
          <form method="get" action="/admit_into_room">
            <button class="btn btn-primary">Admit</button>
          </form>
        </div>
      </div>
    </section>
  </main>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
